$main: #0a2240;

$launch: #1fa3ee;
$launch-dark: #1060ab;
$lead: #d07d00;
$lead-dark: #945000;

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500;700&display=swap');
* {
  font-family: "Dosis", "Helvetica Neue", "Helvetica,Arial","PingFang TC","Heiti TC","Microsoft JhengHei",sans-serif;
}