.ad-stats-nav-tabs {
  display: flex;
  justify-content: flex-end;

  &.ad-stats-nav-tabs--lead {
    border-bottom: 1px solid #0b3760;
  }
  &.ad-stats-nav-tabs--fund-raising {
    border-bottom: 1px solid #84256a;
  }

  .tab__item {
    cursor: pointer;
    margin: 0px 15px;
    padding: 7px 16px 3px 16px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 16px;
    line-height: 20px;
    position: relative;
    bottom: -1px;

    &.tab__item--lead {
      border: 1px solid #0b3760;
      color: #0b3760;
      border-bottom: 1px solid rgba(255, 255, 255, 0);
      &.active {
        border-bottom: 1px solid rgb(255, 255, 255);
      }
    }
    &.tab__item--fund-raising {
      border: 1px solid #84256a;
      color: #84256a;
      border-bottom: 1px solid rgba(255, 255, 255, 0);
      &.active {
        border-bottom: 1px solid rgb(255, 255, 255);
      }
    }
  }
}

.adAccount__table {
  background: #f8f8f8;
  font-size: 14px;
  position: relative;
  .container {
    padding: 0;
    padding-top: 40px;
  }

  .adAccount__table-title {
    position: absolute;
    font-size: 24px;
    line-height: 50px;
    width: 160px;
    height: 50px;
    border-radius: 5px;
    color: #ffffff;
    text-align: center;
    top: -25px;
    left: calc(50% - 80px);
    z-index: 1;
  }
  &.adAccount__table--fund-raising {
    .adAccount__table-title {
      background-color: #84256a;
    }
    .container {
      border-top: 1px solid #84256a;
    }
    .tableFixHead thead tr:nth-child(2) th {
      color: #84256a;
    }
  }
  &.adAccount__table--lead {
    .adAccount__table-title {
      background-color: #0b3760;
    }
    .container {
      border-top: 1px solid #0b3760;
    }
    .tableFixHead thead tr:nth-child(2) th {
      color: #0b3760;
    }
  }

  .tableFixHead {
    overflow-y: auto;
    height: 80vh;
    text-align: center;
  }

  .tableFixHead thead tr td {
    position: sticky;
    top: 0px;
    background-color: #f8f8f8;
    border-top: 0px;
  }

  .tableFixHead thead tr:nth-child(2) th {
    position: sticky;
    top: 48.3px;
    background-color: #f8f8f8;
    border-top: 0px;
  }

  .table td,
  .table th {
    white-space: nowrap;
    border-top: 1px solid #c1c7cf;
  }
  .table td:first-child,
  .table th:first-child {
    border-right: 1px solid #c1c7cf;
  }

  .table thead th {
    border-bottom: 1px solid #c1c7cf;
  }

  .table--hide-in-mobile {
    display: none;
  }
  @media screen and (min-width: 768px) {
    font-size: 16px;
    .table--hide-in-mobile {
      display: table-cell;
    }
  }
}
